* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;
}

h1 {
  color: rgb(200, 199, 255);
  font-size: 60px;
}

h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

p {
  color: rgb(200, 199, 255);
  font-size: 18px;
}

/* SMALLEST */

@media screen and (max-width: 575px) {
  .container {
    width: 90vw;
    border-radius: 40px;
    -webkit-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .white-card {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* SMALL */
@media screen and (min-width: 576px) {
  .container {
    width: 90vw;
    border-radius: 40px;
    -webkit-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .white-card {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
  .container {
    width: 90vw;
    border-radius: 40px;
    -webkit-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .white-card {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* LARGE */
@media screen and (min-width: 992px) {
  .white-card {
    display: flex;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* XL */
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
  }

  .white-card {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* XL // LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .container {
    width: 90vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.44);
  }

  .white-card {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.blue-card {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(120, 87, 255, 1) 0%,
    rgba(46, 43, 233, 1) 100%
  );
  width: 100%;
  height: 500px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(78, 33, 202, 1) 0%,
    rgba(36, 33, 202, 0) 100%
  );
}

.circle:hover {
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(67, 17, 204) 0%,
    rgba(36, 33, 202, 0) 100%
  );
}

.circle h1 {
  color: #fefbff;
}

.white-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.white-card h2 {
  color: rgb(48, 59, 90);
}

.white-card section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 13%;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
}

section {
  cursor: pointer;
  transition: 0.4s ease;
}

section > div {
  display: flex;
  align-items: center;
}

section > div > img {
  margin-right: 5px;
}

.number {
  color: rgb(48, 59, 90);
}

.max-result {
  color: rgb(203, 205, 216);
}

.reaction-section {
  background-color: rgb(255, 246, 245);
}

.reaction-section:hover {
  background-color: rgb(253, 223, 220);
}

.reaction {
  color: rgb(230, 117, 113);
  display: flex;
}

.memory-section {
  background-color: rgb(255, 251, 242);
}

.memory-section:hover {
  background-color: rgb(255, 243, 216);
}

.memory {
  color: rgb(253, 201, 79);
}

.verbal-section {
  background-color: rgb(240, 251, 250);
}

.verbal-section:hover {
  background-color: rgb(206, 255, 248);
}

.verbal {
  color: rgb(94, 195, 171);
}

.visual-section {
  background-color: rgb(243, 243, 253);
}

.visual-section:hover {
  background-color: rgb(231, 231, 252);
}

.visual {
  color: rgb(109, 118, 189);
}

input {
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: rgb(48, 59, 90);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s ease;
}

input:hover {
  background-color: rgb(68, 79, 111);
  cursor: pointer;
}
